/*swiper */

/* CSS Document */
.swiper-viewport {
	margin: 0 0 60px;
	background: #fff;
	z-index: 1;
	border: 4px solid #fff;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	width: 100%;
	position: relative;
	overflow: visible;
}
/* OpenCart Code */

.swiper-pager {
	width: 100%;
	position: absolute;
	top: 50%;
	line-height: 45px;
}
.swiper-button-prev, .swiper-button-next {
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	transition: all .3s ease;
	z-index: 2;
 	background-image: none;
}
.swiper-viewport .swiper-button-prev {
	opacity: 0.7;
	left: 10px;
}
.swiper-viewport .swiper-button-next {
	opacity: 0.7;
	right: 10px;
	
}
/* Desktop */
@media (min-width: 768px){
.swiper-viewport .swiper-button-prev {
	opacity: 0;
	left: -20px;
}
.swiper-viewport .swiper-button-next {
	opacity: 0;
	right: -20px;
}
.swiper-viewport:hover .swiper-button-prev {
	opacity: 0.7;
	left: 10px;

}
.swiper-viewport:hover .swiper-button-next {
	opacity: 0.7;
	right: 10px;
}
}

.swiper-pagination {
	bottom: -40px;
	left: 0;
	text-align: center;
	width: 100%;
}
.swiper-pagination-bullet {
	width: 11px;
	height: 11px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	margin: 0 5px;
	opacity: 1;
}
.swiper-pagination-bullet:hover {
	background: rgba(0, 0, 0, 0.7);
}
.swiper-pagination-bullet-active {
	background: rgba(0, 0, 0, 0.9);
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
}

  .mt-5 {
	margin-top: 5px;
  }

  .dk-box {
    background: #fff;
    border-radius: 16px;
   padding: 0px 15px;
    border: 1px solid #eee;
    height: 100%;
}

.dk-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.dk-img {
    width: 100%;
    border-radius: 12px;
    display: block;
}

.image-grid {
    position: relative;
}

.dk-row {
    margin-left: -5px;
    margin-right: -5px;
}

.dk-col {
    padding: 5px;
}

.dk-vertical-line {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 50%;
    width: 1px;
    background: #eee;
    transform: translateX(-50%);
}

.dk-mid-line {
    height: 1px;
    background: #eee;
    width: 100%;
    margin: 5px 0;
}

.dk-horizontal-line {
    height: 1px;
    background: #eee;
    width: 100%;
    margin: 15px 0;
}

.dk-link {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #19bfd3;
    text-decoration: none;
}
